head {
	
	background-color: #81DAF5;
	padding-left: 200px;
}
body {
	background-color: #81DAF5;
}
h2 {
    padding: 40px;
	background-color: #81DAF5;
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
}
