
head {
	
	background-color: #FFF3C1;
}
body {
	background-color: #FFF3C1;
}

h1{
	font-size: 3em;
	text-align: center;
}

h2 {
	background-color: #FFF3C1;
	font-size: 2em;
	text-align: center;
	
}

#menu {
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
}

#menu ul {
	height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li { 
	display: inline; 
	padding: 20px; 
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p{
	padding-left: 400;
	padding-right: 400;
	padding-bottom: 100;
	padding-top: 100;
}